<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button collapsed"
                    data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                <h1>Precision CNC Wirecutting Solutions Tailored for Your Success</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse collapsed" data-bs-parent="#accordionExample" id="collapseOne">
            <div class="accordion-body">
                At Pramukh Industries, we redefine precision through cutting-edge CNC wirecutting solutions. With an
                unwavering
                commitment to excellence, we specialize in delivering unparalleled accuracy, efficiency, and
                reliability in
                every project we undertake.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                <h1>Driving Innovation in Wirecutting Technology</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
            <div class="accordion-body">
                <p>Harnessing the power of advanced CNC machinery, our state-of-the-art facilities boast cutting-edge
                    technology designed to meet the most intricate demands. From intricate designs to high-volume
                    productions, our precision cutting capabilities are tailored to match your unique
                    specifications.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
                <h1>Our Commitment to Excellence</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
            <div class="accordion-body">
                <p>What sets us apart is not just our cutting-edge technology but our relentless pursuit of perfection.
                    We understand the significance of precision in every cut, and our seasoned team of experts ensures
                    that each project meets the highest industry standards.
                </p>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseFour" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseFour" data-bs-toggle="collapse" type="button">
                <h1>Services That Exceed Expectations</h1>


            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseFour">
            <div class="accordion-body">
                <div class="accordion-body">
                    <p>Whether you require precision cutting in metals, plastics, or other materials, we cater to a
                        diverse range of
                        industries. Our services include but are not limited to:</p>
                    <ul class="list-group  list-group-numbered">
                        <li class="list-group-item">Custom Wirecutting: Tailored solutions to match your exact
                            specifications.
                        </li>
                        <li class="list-group-item">Multi-Axis Cutting: Precision cutting in complex geometries and
                            shapes.
                        </li>
                        <li class="list-group-item">Quality Assurance: Rigorous checks at every stage to ensure flawless
                            outcomes.
                        </li>
                        <li class="list-group-item">Fast Turnaround: Efficient processes for timely project delivery.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseFive" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseFive" data-bs-toggle="collapse" type="button">
                <h1>Client-Centric Approach</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseFive">
            <div class="accordion-body">
                <p>At Pramukh Industries, our clients are at the core of everything we do. We pride ourselves on
                    building lasting partnerships by providing exceptional services, personalized attention, and
                    innovative solutions that consistently exceed expectations.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseSix" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseSix" data-bs-toggle="collapse" type="button">
                <h1>Experience the Future of Precision Cutting</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseSix">
            <div class="accordion-body">
                <p>
                    Partner with us to experience the pinnacle of precision CNC wirecutting. Our commitment to
                    excellence, cutting-edge technology, and unwavering dedication ensures that your project is in
                    capable hands, delivering results that speak volumes.
                </p>
                <p>
                    Contact us today to discuss your project requirements, and let us bring your vision to life with
                    precision and expertise.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapseSeven" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseSeven" data-bs-toggle="collapse" type="button">
                <h1>Gallery</h1>

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseSeven">
            <div class="accordion-body">
                <div class="carousel slide" id="carouselExampleIndicators">
                    <div class="carousel-indicators">
                        <button aria-current="true" aria-label="Slide 1" class="active"
                                data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button>
                        <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
                                type="button"></button>
                        <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
                                type="button"></button>
                    </div>
                    <div class="carousel-inner" style="display: block">
                        <div class="carousel-item active">
                            <img alt="..." class="d-block w-100" src="./assets/home.jpg"
                                 style="height: 75vh; object-fit: cover">
                        </div>
                        <div class="carousel-item">
                            <img alt="..." class="d-block w-100" src="./assets/img-1.jpg"
                                 style="height: 75vh; object-fit: cover">
                        </div>
                        <div class="carousel-item">
                            <img alt="..." class="d-block w-100" src="./assets/img-2.jpg"
                                 style="height: 75vh; object-fit: cover">
                        </div>
                    </div>
                    <button class="carousel-control-prev" data-bs-slide="prev"
                            data-bs-target="#carouselExampleIndicators"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-slide="next"
                            data-bs-target="#carouselExampleIndicators"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
