<div class="overlay-box">
    <div class="img-container">
        <img src="./assets/home.jpg">
    </div>
    <div class="img-overlay" style="align-items: center;">
        <div class="container-box">
            <p>CONTACT US</p>
            <hr>
            <h1>Let's get in touch</h1>
            <br><br>
            <button class="btn btn-primary" (click)="openLinkInNewTab('tel:+919227441544')">
                <img src="assets/telephone-fill.svg"/> &nbsp;
                +91 9227441544
            </button>
            <button class="btn btn-success" (click)="openLinkInNewTab('tel:+919825441544')">
                <img src="assets/telephone-fill.svg"/> &nbsp;
                +91 9825441544
            </button>
            <br>
            <button class="btn btn-warning" (click)="openLinkInNewTab('mailto:pramukhindustries2002@gmail.com')">
                <img src="assets/envelope-fill.svg"/> &nbsp;
                pramukhindustries2002@gmail.com
            </button>
            <button class="btn btn-secondary" style="max-width: 319px" (click)="openLinkInNewTab('https://maps.google.com/maps/dir//VERAI+ENGINEERING+A+48%2F1,+SHIVSHAKTI+ESTATE+Phase+I,+Vatva+GIDC+Ahmedabad,+Gujarat+382445/@22.9607347,72.6302046,11z/data=!4m5!4m4!1m0!1m2!1m1!1s0x395e85165e827f4d:0x3a18c3b2daa97f42')">
                <img src="assets/pin-map-fill.svg" style="margin-bottom: 5px"/><br>
                A-48/4, Shiv Shakti Ind. Estate, Phase-1, GIDC, Vatva, Ahmedabad, Gujarat-382445
            </button>
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container row">
        <p style="margin: 0; height: 24px">&copy; Pramukh Industries. All rights reserved.</p>
    </div>
</div>
