<div class="overlay-box">
    <div class="img-container">
        <img src="./assets/home.jpg">
    </div>
    <div class="img-overlay" style="align-items: center;">
        <div class="container-box">
            <p>CONTACT US</p>
            <hr>
            <h1>Let's get in touch</h1>
            <button class="btn btn-primary">
                <img src="assets/telephone-fill.svg"/>
                +91 9227441544
            </button>
            <button class="btn btn-success">
                <img src="assets/telephone-fill.svg"/>
                +91 9825441544
            </button>
            <button class="btn btn-secondary" >
                <img src="assets/envelope-fill.svg"/>
                pramukhindustries2002@gmail.com
            </button>

        </div>
    </div>
</div>

<div class="copyright">
    <div class="container row">
        <p style="margin: 0; height: 24px">&copy; Pramukh Industries. All rights reserved.</p>
    </div>
</div>
